__pycache__/
*.pyc
.venv/
venv/
.envstitch_argus_x_security_telemetry_platform.zip
backend/.env
backend/.env
stitch_argus_x_security_telemetry_platform.zip
node_modules/
dist/
backend/.env
stitch_argus_x_security_telemetry_platform.zip
node_modules/
dist/
